/* STANDARD FOR MOBILE */

* {
    /* transparent link and button selection */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    -webkit-touch-callout: none;
    /* no callouts during tap and hold */
    -webkit-text-size-adjust: none;
    /* no fonts auto inflation */
    -webkit-user-select: none;
    /* no copy and paste, etc. */
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-size: 12px;
}


/* END STANDARD MOBILE */


/* CUSTOM FONTS */

@font-face {
    font-family: 'Dax';
    src: url("../fonts/DaxBold.ttf") format("truetype");
}


/* END CUSTOM FONTS */


/* START STRUCTURE */

#main {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #f4f4f4;
}

.displaynone {
    display: none;
}

.invisible {
    visibility: hidden;
}

#content {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.page {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}

.scrollable {
    -webkit-overflow-scrolling: touch;
}

.not_scrollable {
    -webkit-overflow-scrolling: auto;
}


/* END STRUCTURE */

#loaderror,
#loginerror {
    display: none;
    font-size: 1.3em;
}

#deleteData,
#saveData,
#cancellChangePass,
#savePassword {
    display: none;
}

#saveData,
#savePassword {
    margin-right: .2em;
}

#deleteData,
#cancellChangePass {
    margin-left: .2em;
}

#settingsMenu,
#addPostit {
    margin-top: 8px;
}

.bar-margin-top {
    margin-top: 4px;
}

.no-border {
    border: 0;
}

.content-margin-top {
    margin-top: 1em !important;
}

#header {
    border-bottom: 0;
}

#register {
    margin-top: 44px;
    width: 99%;
}

#changeImg {
    position: absolute;
    left: 120px;
    top: 115px;
}

#contenutoBacheca {
    /*width: 31%;*/
    position: relative;
    z-index: 1;
    margin: 0;
}

#aprimenu {
    position: absolute;
    right: -1.7em;
    border: 1px solid #bdb8b6;
    border-left-color: #f4f4f4;
    background-color: #f4f4f4;
    border-top: 0;
    color: #ed7800;
    z-index: 1;
}

#menu {
    margin-bottom: -1px;
}

#noticeboardsList {
    font-size: 2.5em;
}

#login>.header,
#register>.header {
    background-color: #004a93;
    color: #f4f4f4;
    margin: 0;
    width: 100%;
    margin-bottom: 5em;
}

#sign_up {
    font-size: 2em;
}

#btn_login,
#btn_register {
    background-color: #ED7800;
    color: #F4F4F4;
    font-size: 2.5em;
}

#search {
    border-radius: 3px;
    position: absolute;
    width: 98%;
}

#searchContactsContent {
    margin-bottom: 4em;
}

#addcontacts > .btn-no-nav {
    bottom: 0em;
}

#addMembers {
    margin-top: -15px;
}

#nameContact {
    color: #ED7800;
}

#done {
    background: #ed7800;
    color: #f4f4f4;
}

#btn,
#submit {
    bottom: 0em;
}

.tap {
    width: 44px;
}

.title {
    font-size: 2.5em;
    color: #f4f4f4;
    margin-top: 0.4em;
}

.width-99 {
    width: 99% !important;
}

.scroll {
    overflow-y: auto;
    overflow-x: hidden;
    height: 60%;
    width: 99%;
}

.scroll-comment {
    height: 77%;
}

.scroll-contacts {
    height: 49%;
}

.scroll-profile {
    height: 80%
}

.scroll-create {
    height: 69%;
}

.scroll-addCont {
    height: 53%;
}

.scroll-board {
    overflow-y: auto;
    overflow-x: hidden;
    height: 87%;
    width: 99%;
}

.h1-fix-scroll {
    height: 60%;
}

.h2-fix-scroll {
    height: 96%;
}

.center {
    text-align: center;
}

.btn-center {
    position: relative;
    left: 25%;
    width: 50%;
}

.margin-tb {
    margin: 2em 0em;
}

.bar {
    position: static;
    background-color: #004a93;
    height: 6em;
}

.bar > a {
    color: #f4f4f4;
}

.bar-tab {
    top: 44px;
    border-top: 0;
    height: 60px;
}

.table-view {
    border-top: 0;
    border-bottom: 0;
    border-color: #bdb8b6;
    background-color: #f4f4f4;
    margin-bottom: 0;
}

.table-view-cell {
    border-color: #bdb8b6;
    list-style-type: none;
}

.table-view-cell:active,
.table-view-cell>a:not(.btn):active {
    background-color: #f4f4f4;
    color: #000000;
}

.activable:active,
.activable>a:not(.btn):active {
    background-color: #bdb8b6 !important;
    color: #f4f4f4 !important;
}

.activable:active>.navigate-right:after {
    color: #f4f4f4;
}

#showlistmembers > ul {
    margin-bottom: 0;
    border-bottom: 0;
}

.table-view-cell:last-child {
    border-bottom: 1px solid #bdb8b6;
}

.border-nav {
    border-bottom: 3px solid #bdb8b6;
}

.border-top {
    border-top: 1px solid #bdb8b6;
}

.active {
    border-bottom: 3px solid #428bca;
}

.bar-tab .tab-item {
    color: #bdb8b6;
    border-bottom: 3px solid #bdb8b6;
}

.tab-label {
    font-size: 1.3em;
}

.bar-tab .tab-item.active,
.bar-tab .tab-item:active {
    color: #f4f4f4;
}

.active {
    border-color: #ed7800 !important;
}

.navigate-right:after {
    color: #bdb8b6;
    right: 28px;
}

.rigamembro>.navigate-right:after {
    font-size: 2em;
}

.navigate-right:after:active {
    color: #f4f4f4;
}

.icon-bar>div {
    margin-top: -2px;
}

.c-icon {
    font-size: .9em;
    margin-top: -6px;
}

.btn-new {
    position: absolute;
    bottom: 9em;
    margin-bottom: 0;
}

.btn-no-nav {
    bottom: 4em;
}

.btn-block {
    color: #ed7800;
}

.margin-r {
    margin-right: 0.5em;
}

.margin-l {
    margin-left: 0.5em;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.right {
    top: -.3em;
    right: 2.5em;
}

.margin-t {
    margin-top: 11px;
}

.close-member {
    height: 3.5em;
}

.close-member>.navigate-right:after {
    content: '\e820';
    font-size: 2em;
}

.open-member {
    height: 100%;
}

.open-member>.navigate-right:after {
    content: '\e820';
    transform: rotateZ(180deg);
    margin-top: -12px;
    font-size: 2em;
}

.caption {
    font-size: 0.8em;
}

.padding-s {
    padding-left: 7%;
}

.trash {
    top: -.3em;
    right: -6.2em;
}

.errorReg {
    display: none;
    color: #ed7800;
}

.profile-img {
    height: 150px;
    width: 150px;
}

.contact-image {
    height: 40px;
    width: 40px;
}

.contact-image-comment-title {
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 0.5em;
    right: 10em;
}

.contact-image-comment {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0.3em;
    left: 0.5em;
}

.contact {
    position: absolute;
    top: 1.2em;
    left: 5em;
}

.list-information {
    list-style-type: none;
    font-size: 1.3em;
    margin-top: 5px;
}

.no-nav {
    margin-top: 50px;
}

.search-delete {
    right: 0.3em;
    color: #bdb8b6;
    background-color: white;
    border: solid 1px #bdb8b6;
    border-radius: 3px;
    width: 44px;
    height: 44px;
    padding-top: 4px;
    padding-left: 6px;
    top: 8px;
}

.search-result {
    z-index: 1100;
}

.send {
    top: 1.1em;
    right: 0em;
    background-color: white;
    border: solid 1px #bdb6b8;
    border-radius: 3px;
    /* border-left: none; */
    width: 43px;
    height: 44px;
    margin-top: -5px;
    padding-top: 4px;
    padding-left: 5px;
}

.first-icon {
    top: 17px;
    right: 70px;
}

.second-icon {
    top: 15px;
    right: 5px;
}

.second-icon-search {
    right: 5px;
}

.div {
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 12px;
    border-bottom: 1px solid #bdb8b6;
    position: relative;
}

.comment {
    padding-top: 7px;
    padding-bottom: 4px;
}

.no-nav>.btn-new {
    bottom: 48px;
}

#content>.no-nav {
    height: 70%;
}

.padding-t {
    padding-top: 5px;
}

.open {
    -webkit-transition: transform 1s;
    /* Safari */
    transition: transform 1s;
}

.close {
    transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    /* IE 9 */
    -webkit-transform: translateX(-100%);
    /* Safari and Chrome */
    -o-transform: translateX(-100%);
    /* Opera */
    -moz-transform: translateX(-100%);
    transition: transform 1s;
    -ms-transition: transform 1s;
    -webkit-transition: transform 1s;
    -o-transition: transform 1s;
    -moz-transition: transform 1s;
}

.postit-title {
    padding: 11px 20px;
}

.postit {
    border: 1px solid;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    overflow: hidden;
    background-color: #f4f4f4;
}

.postit-popup {
    width: 70%;
    font-size: 1.1em;
}

.postit-popup-search {
    width: 98%;
    font-size: 1em;
}

.postit-popup input,
.postit-popup select {
    margin: 0;
}

.border-table-view {
    border-left: 1px;
    border-right: 1px;
    border-color: #bdb8b6;
    border-style: solid;
}

.first-child {
    border-top-left-radius: .7em;
    border-top-right-radius: .7em;
}

.last-child {
    border-bottom-left-radius: .7em;
    border-bottom-right-radius: .7em;
}

.hide {
    display: none !important;
}

.popup-screen.in {
    opacity: .8;
    margin: 0;
}

.popup-screen {
    top: 0;
    left: 0;
    right: 0;
    bottom: 1px;
    position: absolute;
    filter: Alpha(Opacity=0);
    opacity: 0;
    z-index: 1099;
}

.search {
    top: 3em;
}

.overlay {
    background-color: #bdb8b6;
    border-color: #bbb;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3
}

.overlaySearch {
    background-color: #bdb8b6;
    border-color: #bbb;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3
}

.popup-container {
    z-index: 1100;
    display: inline-block;
    position: absolute;
    padding: 0;
    outline: 0;
    top: 5%;
    right: 15%;
}

.popup-container-search {
    z-index: 1100;
    display: inline-block;
    position: absolute;
    padding: 0;
    outline: 0;
    top: 5em;
}

.popup-container > .table-view > .table-view-cell {
    padding: 11px 15px 11px 15px;
}

.scroll-popup {
    height: 40%;
}

.on-btn {
    bottom: 11em;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #bdb8b6;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #bdb8b6;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bdb8b6;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #bdb8b6;
}

input,
select,
textarea {
    color: #000000;
}

textarea:focus,
input:focus {
    color: #000000;
}

.icons-postit {
    padding: 3px;
    border-radius: 1em;
    border: 2px solid #004a93;
    background-color: #bdb8b6;
    color: #004a93;
}

.fa-arrows {
    top: 13%;
    left: 27%;
}

.canvas {
    left: 0;
    right: 0;
    top: 44px;
    bottom: 0;
}

.rigabacheca {
    padding-right: 2em;
}

.selection {
    border: 1px dashed;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}

.relation {
    border: 1px dashed;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}

.size {
    font-size: 1.5em;
}

.fa-square-o {
    margin-right: -0.47em;
}

.fa-check-square-o {
    margin-right: -0.6em;
}

.popup-list {
    position: absolute;
    /*top: 14px;*/
    top: 21px;
}

.no-float {
    float: none !important;
}

.author {
    color: #004a93;
    font-size: 1.4em;
}

.option {
    color: #004a93;
}

.option-icon {
    color: #ed7800;
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
    border-color: #bdb8b6;
}

select {
    height: 42px;
}

#listBoardsContacts > .table-view> .scroll > .table-view-cell:last-child {
    border-bottom: 0px;
}

@media (max-width:450px) and (min-width:320px) {
    body {
        font-size: 8px;
    }
    .rigabacheca {
        padding-right: 3em;
    }
    .search-delete {
        top: 0.6em;
        padding-top: 8px;
        padding-left: 12px;
    }
    .btn-new {
        bottom: 7em;
    }
    .btn-no-nav {
        bottom: 3em;
    }
    .first-icon {
        top: 27px;
    }
    .second-icon {
        top: 25px;
    }
    .scroll-board {
        overflow-y: auto;
        overflow-x: hidden;
        height: 80%;
        width: 99%;
    }
    .h2-fix-scroll {
        height: 99%;
    }
    .close-member {
        height: 5.5em;
    }
    .contact {
        position: absolute;
        top: 1.7em;
        left: 5em;
    }
    .contact-image-comment-title {
        bottom: 0.7em;
        right: 8em;
    }
    .contact-image-comment {
        top: 0.3em;
        left: 0.5em;
    }
    .padding-s {
        padding-left: 10%;
    }
    #contenutoBacheca {
        width: 53%;
    }
}
