<header class="bar bar-nav no-border">
  <a class="icon pull-left"href=""><i class="fa fa-angle-left"></i></a>
    <h1 class="title">Settings</h1>
  <a class="icon pull-right"href=""><i class="fa fa-cog"></i></a>
</header>

<ul>
  <li>Notifications
    <li class="table-view-cell">
      Boards Notifications
      <div class="toggle">
        <div class="toggle-handle"></div>
      </div>
    </li>
    <li class="table-view-cell">
      Vibration
      <div class="toggle active">
        <div class="toggle-handle"></div>
      </div>
    </li>
    <li class="table-view-cell">
      Sound Alarm
      <div class="toggle">
        <div class="toggle-handle"></div>
      </div>
    </li>
    <li class="table-view-cell">
      Icon
      <div class="toggle">
        <div class="toggle-handle"></div>
      </div>
    </li>
  </li>
  <li>
    Logout <i class="fa fa-sign-out"></i>
  </li>
</ul>