<ul>
  <li>Notifications
    <li class="table-view-cell">
      Boards Notifications
      <div class="toggle">
        <div class="toggle-handle"></div>
      </div>
    </li>
    <li class="table-view-cell">
      Vibration
      <div class="toggle active">
        <div class="toggle-handle"></div>
      </div>
    </li>
    <li class="table-view-cell">
      Sound Alarm
      <div class="toggle">
        <div class="toggle-handle"></div>
      </div>
    </li>
    <li class="table-view-cell">
      <div class="toggle">
        <div class="toggle-handle"></div>
      </div>
    </li>
  </li>
  <li id="logout">
    Logout <i class="fa fa-sign-out"></i>
  </li>
</ul>