<ul class="table-view">
    {{#each this}}
    <li class="table-view-cell">
        {{nome}} {{cognome}}
        <span class="absolute second-icon"><i class="pull-right fa fa-user-times fa-2x"></i></span>
        <span id="{{id}}Link" class="absolute first-icon"><i class="pull-right fa fa-plus fa-2x"></i></span>
    </li>
    <div class="popup-screen overlay in hide" id="{{id}}Screen"></div>
    <div id="{{id}}Popup" class="postit-popup popup-container hide">
        <ul class="table-view">
            <li class="table-view-cell">Pippo</li>
        </ul>
    </div>
    {{/each}}
</ul>
