<div class="i-12 header">
    <header class="center margin-tb">
        <h1>SIWYT</h1>
        <h3>Welcome</h3>
    </header>
</div>
<div class="i-12">
    <form name="formLogin">
        <span id="loginerror">Wrong Password or Username</span>
        <input id="logUsername" type="text" placeholder="USERNAME">
        <input id="logPassword" type="password" placeholder="PASSWORD">
    </form>
    <div class="btn-center">
        <button id="btn_login" class="btn btn-block">LOGIN</button>
    </div>
</div>
<div class="errorReg center" id="emailSent">An email its been sent to your e-mail. Please confirm your account before login</div>
<div class="i-12 center" id="sign_up">Sign-up</div>
