{{#if this}}
<div class="i-g">
    <div class="i-4">
        <img src="{{img}}" class="profile-img" /><span id="changeImg"><i class="fa fa-pencil fa-2x"></i></span>
    </div>
    <div class="i-8">
        <ul class="list-information">
            <li>Signed on {{data_iscrizione}}</li>
            <li>You are taking part to {{totale_bacheche}} boards:
                <ul>
                    <li>{{num_projectManager}} as Project Manager</li>
                    <li>{{num_teammate}} as Teammate</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="i-12">
        <span id="editData" class="pull-right">Modify your account <i class="fa fa-pencil"></i></span>
        <span id="deleteData" class="pull-right"> Discard changes <i class="fa fa-times"></i></span>
        <span id="saveData" class="pull-right">Save changes <i class="fa fa-save"></i></span>
        <div class="i-12">
            Name:
            <span class="errorReg" id="errName">Invalid name</span>
            <input class="edit" type="text" id="profileName" value="{{nome}}" disabled="disabled" /> Surname:
            <span class="errorReg" id="errSurname">Invalid surname</span>
            <input class="edit" type="text" id="profileSurname" value="{{cognome}}" disabled="disabled" /> Password:
            <span class="errorReg" id="errPassword">Invalid Password</span>
            <input class="edit" type="password" id="profileOldPass" name="oldPass" disabled="disabled" placeholder="Old Password" />
            <span class="errorReg" id="errConfirm">New password invalid. Remenber Must be least 5 characters</span>
            <input class="edit" type="password" id="profileNewPass" name="newPass" disabled="disabled" placeholder="New Password" />
            <input class="edit" type="password" id="profileConfirm" name="confPass" disabled="disabled" placeholder="Confirm new Password" />
            <div class="i-12">
                Delete Account <i class="fa fa-trash-o fa-1x"></i></li>
            </div>
        </div>
    </div>
    {{/if}}
