<div class="i-12 header">
    <header class="center margin-tb">
        <h1>Sign Up</h1>
    </header>
</div>
<div class="i-12">
    <form id="formReg" name="formRegister">
        <span class="errorReg" id="errName">Invalid name</span>
        <input type="text" id="regName" placeholder="NAME">
        <span class="errorReg" id="errSurname">Invalid surname</span>
        <input type="text" id="regSurname" placeholder="SURNAME">
        <span class="errorReg" id="errEmail">Invalid Email</span>
        <input type="text" id="regEmail" placeholder="EMAIL">
        <span class="errorReg" id="errUsername">Invalid Username</span>
        <span class="errorReg" id="errUsernameExist">This Username Already Exist</span>
        <input type="text" id="regUsername" placeholder="USERNAME">
        <span class="errorReg" id="errPassword">Password must be 5 characters at least</span>
        <input type="text" id="regPassword" placeholder="PASSWORD">
        <span class="errorReg" id="errConfirm">The inserted passwords are not the same</span>
        <input type="text" id="regConfirm" placeholder="CONFIRM PASSWORD">
    </form>
    <div class="btn-center">
        <button id="btn_register" class="btn btn-block">REGISTER</button>
    </div>
    </form>
</div>
