<div class="i-g">
    <div class="i-12">
        <header class="center margin-tb">
            <h1>Sign Up</h1>
        </header>
    </div>
    <div class="i-12">
        <form>
            <span>Error</span>
            <input type="text" placeholder="NAME">
            <span>Error</span>
            <input type="text" placeholder="SURNAME">
            <span>Error</span>
            <input type="text" placeholder="EMAIL">
            <span>Error</span>
            <input type="text" placeholder="USERNAME">
            <span>Error</span>
            <input type="text" placeholder="PASSWORD">
            <span>Error</span>
            <input type="text" placeholder="CONFIRM PASSWORD">
            <div class="btn-center">
                <button class="btn btn-block">REGISTER</button>
            </div>
        </form>
    </div>
</div>
