<h3>Notifications</h3>
<ul class="table-view">
<li class="table-view-cell"> Noticeboards updates
<div class="toggle active">
  <div class="toggle-handle"></div>
</div>
</li>
<li class="table-view-cell">Vibration
<div class="toggle">
  <div class="toggle-handle"></div>
</div>
</li>
<li class="table-view-cell">Sound
<div class="toggle">
  <div class="toggle-handle"></div>
</div>
</li>
<li class="table-view-cell">
<div>Icon</div>
<div class="toggle">
  <div class="toggle-handle"></div>
</div>
</li>
</ul>
{{!--controllare su ratchet per vedere come agganciare listener--}}
<h3>Logout</h3> {{!--aggungere simbolo logout con listener --}}