<div class="i-g scroll">
    <div class="i-12">
        <form>
            <p>
                <h3>Title:</h3>
                <input type="text" id="idBacheca" placeholder="Board's Name" />
            </p>
            <p>
                <h3>Members <i id="addMembers" class="fa fa-user-plus fa-1x"></i></h3>
                <div class="border-top" id="membri"></div>
            </p>
        </form>
        <div class="i-12">
            <div class="btn-block btn-new center" id="submit">
                <i class="fa fa-check-circle fa-4x"></i>
                <div>Done</div>
            </div>
        </div>
    </div>
</div>
