<header class="bar bar-nav">
        <h1 id="titleBacheca" class="title">{{nome}}</h1>
        <a id="addPostit" class="pull-right"><i class="fa fa-plus-square-o fa-2x"></i></a>
    </header>
    <div id="contenutoBacheca" class="open">
        <ul id="menu" class="table-view border-table-view">
            <div id="aprimenu"><i class="fa fa-angle-double-right fa-3x"></i></div>
            <li id="goToHome" class="table-view-cell media">
                <div class="navigate-right">
                    Homepage
                </div>
            </li>
            <li id="newPostit" class="table-view-cell media">
                <div class="navigate-right">
                    New Post-it
                </div>
            </li>
            <li id="boardManagement" class="table-view-cell media">
                <div class="navigate-right">
                    Board Management
                </div>
            </li>
            <li class="table-view-cell media last-child">
                <div class="navigate-right">
                    Export to PDF
                </div>
            </li>
        </ul>
    </div>
    <div id="boardContent" class="body-board">     
    </div>