<header id="header" class="bar bar-nav">
    <a class="pull-left" id="back"><i class="fa fa-angle-left fa-3x"></i></a>
    <a class="pull-right" id="settings_menu"><i class="fa fa-cog fa-2x"></i></a> {{!--ogni pagina ha il proprio titolo--}}
    <h1 class="title" id="title"></h1>
</header>
{{!--barra di navigazione--}}
<nav class="bar bar-tab" id="navigation">
        <div class="icon-bar"><i class="fa fa-users fa-2x"></i>
            <div class="tab-label">Contacts</div>
        </div>
    </a>
        <div class="icon-bar"><i class="fa fa-home fa-2x"></i>
            <div class="tab-label">Home</div>
        </div>
    </a>
        <div class="icon-bar"><i class="fa fa-user fa-2x"></i>
            <div class="tab-label">Profile</div>
        </div>
    </a>
</nav>
{{!--container dati--}}
<div id="content" class="i-container"></div>
