<div class="scroll no-nav">
    <div class="div i-12">
        <h1 class="center">{{postit_name}}</h1>
        <div class="pull-left caption">by {{postit_author}}</div>
        <div class="pull-right caption">posted on {{postit_date}}</div>
    </div>
    <div id="postitContent" class="i-12">
    </div>
    <div class="i-12 btn-block btn-new center">
        <form>
            <input type="text" placeholder="ADD COMMENT" />
            <div class="absolute send">
                <i class="fa fa-share-square-o"></i>
            </div>
        </form>
    </div>
</div>
