<div id="carousel">
        <div id="skip"><a class="pull-right option-icon">Skip<i class="fa fa-step-forward fa-1x"></i></a></div>
        <div id="carousel-left"><i class="fa fa-angle-left fa-5x option-icon"></i></div>
        <div id="carousel-right"><i class="fa fa-angle-right fa-5x option-icon"></i></div>
        <div id="screen_1" class="carousel-img">
            <img src="../www/img/Screen1.png">
        </div>
        <div id="screen_2" class="carousel-img next">
            <img src="../www/img/Screen2.PNG">
        </div>
        <div id="screen_3" class="carousel-img hide">
            <img src="../www/img/Screen3.png">
        </div>
        <div id="screen_4" class="carousel-img hide">
            <img src="../www/img/Screen4.png">
        </div>
        <div id="screen_5" class="carousel-img hide">
            <img src="../www/img/Screen5.png">
        </div>
        <div id="screen_6" class="carousel-img hide">
            <img src="../www/img/Screen6.png">
        </div>
        <div id="screen_7" class="carousel-img hide">
            <img src="../www/img/Screen7.png">
        </div>
        <div id="carousel-pagination">
            <span id="page_1" class="badge current"></span>
            <span id="page_2" class="badge"></span>
            <span id="page_3" class="badge"></span>
            <span id="page_4" class="badge"></span>
            <span id="page_5" class="badge"></span>
            <span id="page_6" class="badge"></span>
            <span id="page_7" class="badge"></span>
        </div>
</div>
